body  {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

* {
  background-color: rgb(182, 185, 180);
}

/* Header */
.header {
  width: 100%;
  padding-top: 55px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}  

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 55px;
  padding-left: 165px;
}


/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  align-items: center;

  color: #fff;
  text-decoration: none;
}













