body {
  font-family: 'Roboto', 'Poppins';
  text-decoration: none;
}

span {
  color: #fb9333;
}

h2 {
  font-size: 56px;
  font-weight: 700;
}

.bee {
  margin: -2rem -2.5rem 1rem;
}


/* Header */
.header {

  .navbar {
      text-transform: uppercase;
      font-family: 'Roboto';
      padding-top: 60px;

      .nav-item {
        margin: 0em 0.8em;
        font-weight: 800;
      }

      .nav-link {
        color: #575757;
      }

      .nav-link:hover {
        color: #fb9333;
       }
 }
}

/* Main */
.main {
  margin-top: 8em;

  img {
    width: 100%;
  }

  button {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4em;
    border-radius: 50px;
    padding: 16px 16px;
    background-color: #fff0dc;
  }
}

/* Clients */
.clients__text {
  font-size: 16px;
  font-weight: 700;
  color: #828282;
}

.p-5 {
  font-size: 24px;
  font-weight: 700;
}

.btn-warning {
  font-size: 18px;
  justify-content: center;
  background-color: #fb9333;
  color: #fff;
  border-radius: 50px;
  padding: 22px 39px;
}

.btn-warning:hover {
  color: #333;
  background-color: #fb9333;
}

.cards {
  margin-top: 6em;
}

.info {
  margin-top: 6em;

  img {width: 100%;}

  p {
    line-height: 2em;
  }
}

.nuts {
    margin-top: 6em;
    
    img {
      max-width: 20rem;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
    }
}

.s_box{
  margin-top: 6em;
  .box{
      background: url(../img/bg.png);
      background-color: #EADDCA;
      border-radius: 5rem;

      .box-text{
          text-align: center;
          margin: 5em auto; 
      }

      .form-control{
          border-radius: 30px 0 0 30px;
      }
  } 
}

.company {
  margin-top: 6em;

  h2 {
    text-align: center;
  }
}

.footer{
  margin-top: 8em;

  .row {
    padding-top: 10px;
  }

  .click {
    font-size: 2.5em;
    margin: 10px;
  }

  .nav-link {
    color: #575757;
  }

}





